My workflow ChatBot NF.json
{
  "name": "My workflow 8",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "f524553f-2b5a-4f0d-8bef-8bd942525802",
      "name": "Telegram Trigger",
      "webhookId": "1e7fc9cb-50cb-4636-899a-926856d31cfa",
      "credentials": {
        "telegramApi": {
          "id": "ieaa1c7RnbLoSESt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA",
          "mode": "list",
          "cachedResultName": "n8n 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1jGupBkkhJcyoq00V4aEtjC9nz4PzT9UHj0GUVw641xA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        352,
        224
      ],
      "id": "f54604a8-5201-417d-b444-a60016e565f2",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hPdcc5YoyklMHjk3",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Telegram Trigger\"].json.message.chat.id }}",
        "text": "={{ $node[\"AI Agent\"].json[\"output\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        560,
        0
      ],
      "id": "23276909-4957-433b-b16d-349cd32cf8bb",
      "name": "Send a text message",
      "webhookId": "2cacf5dd-3ef1-41d4-92cb-ee6a1defb3af",
      "credentials": {
        "telegramApi": {
          "id": "ieaa1c7RnbLoSESt",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Jawablah pertanyaan dari calon peserta pelatihan berikut ini dengan mencari data yang relevan di Google Sheets: {{ $json.message.text }}",
        "options": {
          "systemMessage": "Kamu adalah asisten pelatihan NF Academy yang profesional. Jawablah pertanyaan dengan baik dan ramah sesuai dengan bahasa yang digunakan oleh penanya.\n\nATURAN KHUSUS:\n1. Gunakan Tool Google Sheets untuk mencari informasi tentang produk, deskripsi/uraian, biaya/harga, dan tempat/lokasi pelatihan.\n2. Jika informasi tidak ditemukan dalam data Google Sheets, JANGAN MENGARANG JAWABAN.\n3. Jika data tidak ada, berikan jawaban persis: \"Maaf, saya belum memiliki data yang Anda minta. Silakan lihat web nfacademy.id\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "70da117a-ec5b-43d3-b0d5-d03e017d38bf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        208,
        208
      ],
      "id": "53e7e660-a30a-4848-8046-3f6a73d2f079",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "wo5RfBIyDWqkgrDh",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "589f77b6-5841-498b-95cd-89dc4538a5e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1af36991bf83c8450123db80c83d62f51fd015acb4ad5d3da09c342a0e62acf2"
  },
  "id": "1vf8uFRY9PZejgVr",
  "tags": []
}